<% @profiles.each do |profile| %>

<p>
    <div>
        <label> Name:  </label>
        <%= profile.user.name%>
    </div>
    <div>
        <label> Profession  </label>
        <%= profile.user.profession%>
    </div>
    <div>
        <label> summary:  </label>
        <%= profile.user.summary%>
    </div>

    <div>
        <label> summary:  </label>
        <div>
            <%= image_tag(profile.user.image, style: "width: 100px") %>
        </div>
    </div>

</p>

<% end %>

